{% extends 'main_app/base.html' %}
{% block title %}Logowanie{% endblock %}
{% block form %}{% endblock %}
{% block content %}
<h3 class="text-center">{{ header }}</h3>

<div class='text-center m-lg-5'>
<form method="post">
{% csrf_token %}
    <div class="form-group p-4">
        {{ form.email }}
    </div>
    <div class="form-group p-4">
        {{ form.password }}
    </div>
    <div class="form-group p-4">
        <button type="submit" class="btn btn-outline-warning">Zaloguj się</button>
    </div>
</form>
</div>
{% endblock %}